<p class="lead" *ngIf="libro.titolo != '' && libro.autore != '' "  [ngStyle]="{'color' : getColoreTitolo()}" >{{libro.getTitoloCompleto()}}</p>
<div class="form-group">
  <label>ISBN</label>
  <input type="text" class="form-control"  placeholder="xxx-xx-xxxxx-xx-x" [(ngModel)]="libro.isbn">
</div>
<div class="form-group">
  <label>Titolo libro</label>
  <input type="text" class="form-control"  placeholder="Inserire titolo" [(ngModel)]="libro.titolo">
</div>
<div class="form-group">
  <label>Autore</label>
  <input type="text" class="form-control"  placeholder="Inserire Autore" [(ngModel)]="libro.autore">
</div>
<div class="form-group">
  <label>Anno uscita</label>
  <input type="number" class="form-control"  placeholder="aaaa" [(ngModel)]="libro.annoUscita">
</div>